MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=karren

GROQ_API_KEY=your_groq_api_key_here
MISTRAL_API_KEY=your_mistral_api_key_here

CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

AI_PRIMARY_PROVIDER=groq
AI_FALLBACK_PROVIDER=mistral

TWELVE_DATA_API_KEY=your_twelve_data_api_key_here

CORS_ORIGINS=["http://localhost:3000"]
